
@import"../global/global.css";
@import"../ultilidades/tipografia.css";
@import"../ultilidades/cores.css";
@import"../ultilidades/animacao.css";


@import"../global/header.css";
@import"../global/footer.css";

/* utilidades*/
@import"../ultilidades/componentes.css";
@import"../ultilidades/formulario.css";

/* home*/
@import"../home/introducao.css";
@import"../home/tecnologia.css";
@import"../home/parceiros.css";
@import"../home/depoimento.css";

/*bicicletas*/
@import"../bicicletas/bicicletas-lista.css";
@import"../bicicletas/bicicletas.css";

/*bicicleta*/
@import"./bicicleta/bicicleta.css";
@import"./bicicleta/seguro.css";

/*seguros*/
@import"../seguros/seguros.css";
@import"../seguros/vantagens.css";
@import"../seguros/perguntas.css";

/*contato*/
@import"../css/contato/contato.css";
@import"../css/contato/lojas.css";

/*orcamento*/
@import"../css/orcamento/orcamento.css";

/*termos*/
@import"../termos/termos.css";


